/*Crinado o menu estilizado Simples*/
nav{
    background-color:rgb(255, 123, 0);
    margin-left: 22px;
    margin-right: 22px;
    border: 1px solid black;
}
ul{
    /*Alinha os itens na horizontal*/
    display: flex;
}
li{

    list-style: none;
    padding: 15px;
}
a{
    /*Tira o sublinhado do link*/
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover{
    color: blue;
    text-decoration: overline;
}
h2{
    padding: 15px;
    background-color: rgb(255, 123, 0);
    margin-left: 22px;
    margin-right: 20px;
    color: black;
    border: 1px solid black;
}
img{
    /*Largura da Imagem*/
    width: 600px;
    /*Altura*/
    /*height: ;*/
    color: rgb(255, 123, 0);
    padding-left: 30px;
}
div{
    display: flex;
}
p{
    margin-right: 70px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 30px;
}
footer{
    background-color: rgb(255, 123, 0);
    margin-right: 20px;
    text-align: justify;
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid black;
    
}
h3{
    padding-top: 20px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    padding-bottom: 13px;
}