
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: rgb(252, 4, 4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4 px 8px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1 {
    color: #000000;
    font-family: 'Arial Black', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8);
}
button{
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
button:hover{
    background-color: rgb(0, 255, 255);
}
label{
    display: block;
    margin: 10 px 0 5px;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.result span{
    color: rgb(255, 255, 255);
}